nav {
  position: absolute;
  width: 100%;
  text-align: right;
  background: rgba(0,0,0,0.5);
  padding: 1vh 0;
}

/* nav .menu {
  display: none;
} */

hamburger-menu-button {
  display: inline-block;
  height: 3.5vh;
}

form {
  display: inline;
  margin-right: 0.5vw;
}

.page-top {
  bottom: 0;
}

.page-bottom {
  top: 0;
}

a {
  margin: 0 0.5vw;
  font-weight: bold;
}

@media screen and (min-width: 800px) {
  nav {
    position: absolute;
    display: inline-block;
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1.0), #000000);
  }
}