nav {
  position: absolute;
  width: 100vw;
  text-align: right;
  background-color: #000000;
  padding: 1vh 0;
}

form {
  display: inline;
}

.page-top {
  bottom: 0;
}

.page-bottom {
  top: 0;
}

a {
  margin: 0 0.5vw;
}

@media screen and (min-width: 800px) {
  nav {
    position: absolute;
    display: inline-block;
  }
}