@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap');


body {
  background: url('./assets/parchment-paper-bg.png') no-repeat fixed center;
  background-size: cover;
}

header {
  margin: 0 auto;
  height: 23vh;
  border-bottom: 2px solid black;
  background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.5));
  position: relative;
}

main {
  min-height: 62vh;
}

.logo {
  margin: 0 auto;
  display: block;
  text-align: center;
  max-height: 18vh;
  z-index: 1;
}

a {
  display: inline-block;
  text-decoration: none;
  font-size: 2.5vh;
  color: #1874CD;
}

a:selected {
  color: #008080;
}

a:hover {
  color: #38B0DE;
}

h1 {
  font-family: 'Princess Sofia', cursive;
  margin: 0 auto;
  line-height: 5vh;
  font-size: 5vh;
  color: white;
}

.page-name-hidden-mobile {
  display: none;
}

.page-name-hidden-desktop {
  display: block;
  text-align: center;
  position: absolute;
  top: 9vh;
  left: 50%;
  transform: translate(-50%,0);
  font-size: 3vh;
  line-height: 3.25vh;
  z-index: 2;
}

h2 {
  margin: 0 auto;
  font-size: 4vh;
}

h3 {
  margin: 0 auto;
  color: rgba(44,22,8,0.8);
  font-size: 2vh;
}

h4 {
  font-size: 2vh;
  font-weight: normal;
}

p {
  font-size: 2vh;
  color: #2C1608;
}

footer {
  margin: 0 auto;
  width: 100%;
  height: 15vh;
  position: relative;
  bottom: 0;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
}

@media screen and (min-width: 801px) {
  .logo {
    margin-left: 0;
  }

  .page-name-hidden-mobile {
    display: block;
    position: absolute;
    top: 7vh;
    margin-left: 7.5vw;
    z-index: 2;
  }

  .page-name-hidden-desktop {
    display: none;
  }
}

@media screen and (min-width: 1281px) {
  .page-name-hidden-mobile {
    margin-left: 6.25vw;
  }
}

@media screen and (min-width: 1801px) {
  .page-name-hidden-mobile {
    margin-left: 5.75vw;
  }
}